# Data Mining Coursework - Spring 2023

Katerina Marie (Katya) Reichert - 33781583

I worked and submitted alone :)

# Part 1: Nearest Neighbor Algorithm

a) You are required to write a Python code implementing the simplest Nearest Neighbour algorithm (that is, using just 1 neighbour), with the Minkowski distance, both discussed in lecture of week 1. Your code will read the power q appearing in the Mionkowski distance, and will classify each record from the test dataset based on the training dataset. Remember, to classify a record from the test set you need to find its nearest neighbour in the training set (this is the one which minimizes the distance to the test set record); take the class of the nearest neighbour as the predicted class for the test set record. After classifying all the records in the test set, your code needs to calculate and display the **accuracy, recall, precision, and F1 measure with respect to the class "M"**(which is assumed to be the positive class), of the predictions on the test dataset. Run your code to produce results first for **Manhattan distance** and then for **Euclidian distance**, which are particular cases of Minkowski distance (q=1, and q=2, see lecture week 1).

b) Run your code for the power q as a positive integer number from **1 to 20** and **display the accuracy, recall, precision, and F1 measure** on the test set in a chart. Which value of q leads to the best accuracy on the test set?

In [5]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

import sys
import os

### Create function for calculating the Minkowski distance

I added an optional parameter of q, so the user can easily change this. It defaults to q=1 for Manhattan distance

In [8]:
def Minkowski(vec1, vec2, q=1):
    return np.sum(np.abs(vec1 - vec2)**q, axis=1)**(1/q)

### Read in training csv

In [4]:
df = pd.read_csv(os.path.join('csv/', 'sonar_train.csv'))
print(df.shape)
x = df.head()

(139, 61)

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A52,A53,A54,A55,A56,A57,A58,A59,A60,Class
0,0.0079,0.0086,0.0055,0.0250,0.0344,0.0546,0.0528,0.0958,0.1009,0.1240,...,0.0176,0.0127,0.0088,0.0098,0.0019,0.0059,0.0058,0.0059,0.0032,R
1,0.0599,0.0474,0.0498,0.0387,0.1026,0.0773,0.0853,0.0447,0.1094,0.0351,...,0.0013,0.0005,0.0227,0.0209,0.0081,0.0117,0.0114,0.0112,0.0100,M
2,0.0093,0.0269,0.0217,0.0339,0.0305,0.1172,0.1450,0.0638,0.0740,0.1360,...,0.0212,0.0091,0.0056,0.0086,0.0092,0.0070,0.0116,0.0060,0.0110,R
3,0.0151,0.0320,0.0599,0.1050,0.1163,0.1734,0.1679,0.1119,0.0889,0.1205,...,0.0061,0.0015,0.0084,0.0128,0.0054,0.0011,0.0019,0.0023,0.0062,R
4,0.0317,0.0956,0.1321,0.1408,0.1674,0.1710,0.0731,0.1401,0.2083,0.3513,...,0.0201,0.0248,0.0131,0.0070,0.0138,0.0092,0.0143,0.0036,0.0103,R

### Create Train-Test Split
This is to assess the accuracy of the nearest neighbors algorithm. I won't bother with cross-validation because there isn't much refinement to do with the hyperparameters. We're simply trying q=1 and q=2

In [6]:
x = df.drop(columns='Class')
y = df['Class']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=3)

print('x_train:', x_train.shape)
print('x_test:', x_test.shape)
print('y_train:', y_train.shape)
print('y_test:', y_test.shape)

x_train: (97, 60)
x_test: (42, 60)
y_train: (97,)
y_test: (42,)

### Write function to create predictions

__Input__: Pandas DataFrame -- the examples to create predictions on, where each example has a shape of (1, 60)

__Output__: List[str] -- the corresponding predictions in order

In [11]:
def predict_class(examples):
    pass